{% extends 'layouts/base.twig' %}
{% block content %}
<div class="hero">
    <h2>Bienvenue sur ShopEasy</h2>
    <p>Gagnez des points à chaque achat !</p>
    <a href="/loyality_point_system/public/register">S'inscrire</a>
</div>
{% endblock %}